/* Base CSS */

@font-face {
    font-family: 'hemi-head';
    src: url('./fonts/hemi\ head\ bd\ it.otf');
}

body {
    background-color: rgb(22, 22, 22);
    display: flex;
    flex-direction: column;
}

.flash-msg{
    display: flex;
    color: azure;
    font-family: hemi-head;
}

h1, h2, h4, h5{
    color: greenyellow;
    margin-left: 8px;
    margin-top: 5px;
    font-family: hemi-head;
}

h3{
    color: rgb(123, 123, 123);
    font-size: 70px;
    margin-left: 25px;
}

h6{
    margin-bottom: 25px;
    margin-left: 3px;
}

.form-label{
    color: rgb(123, 123, 123);
}

.form-button{
    color: rgb(123, 123, 123);
    /* background-color: black; */

}

.form-control{
    color: rgb(123, 123, 123);
}

.nav-buttons{
    position: fixed;
    top: 8px;
    right: 10px;
    text-decoration: none;
    background-color:rgb(22, 22, 22);
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#home{
    right: 98px;
}

.a-tag-clean{
    text-decoration: none;
    color: rgb(123, 123, 123);
    
}

/* Login Page */

.w-50{
    margin-left: 25px;
}

/* Vehicles User Home */
#vehicle-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(38, 38, 38);
    border-top: solid rgb(80, 80, 80) 1px;
    border-bottom: solid rgb(51, 51, 51) 1px;
    align-items: center;
    flex-wrap: wrap;
}

.vehicle-card{
    display: flex;
    flex-direction: column;
    border: solid rgb(0, 255, 225) 1px;
    /* color: rgb(0, 255, 225); */
    color: rgb(207, 207, 207);
    background-color: rgb(0, 0, 0);
    width: 250px;
    height: 345px;
    align-items: center;
    justify-content: center;
    margin: 20px;
    text-decoration: none;
    box-shadow: 3px 3px 5px black;
}

.vehicle-img-div{
    width: 200px;
    height: 140px;
    overflow: hidden;
}

.vehicle-card-image{
    width: 200px;
    height: auto;

}

.add-vehicle-a{
    text-decoration: none;
    color: rgb(123, 123, 123);
}

#v-c-text{
    margin-top: 7px;
    margin-bottom: 0px;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

/* Vehicles Details Page */

#vehicle-title{
    padding-left: 30px;
    margin-left: 0px;
    margin-top: 47px;
    margin-bottom: 0px;
    border-top: solid rgb(0, 255, 225) 3px;
    border-bottom: solid rgb(0, 255, 225) 3px;

}

#v-d-organizer{
    display: flex;
    align-items: top;
    align-content: center;
    flex-direction: row;
    background-color: rgb(29, 29, 29);
    padding-top: 10px;
    
}

.vehicle-details-image{
    height: 250px;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.vehicle-details{
    display: flex;
    flex-direction: column;
    color: rgb(0, 221, 255);
    width:500px;
    /* align-items: center; */
    margin: 10px;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
    text-decoration: none;
}

.vehicle-buttons-group{
    flex-direction: column;
    justify-content: right;
    width: 200px;
}
#vehicle-buttons{
    background-color:rgb(53, 53, 53);
}

#vehicle-services-title{
    font-family: 'hemi-head';
    font-size: 35px;
    color: rgb(52, 52, 52);
    margin-bottom: 0px;
    margin-top: 8px;
}

#services-by-vehicle{
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.add-service-details{
    padding-left: 30px ;
}

/* Service User Home */

#service-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.service-card{
    color: rgb(123, 123, 123);
    border: solid rgb(149, 149, 149) 1px;
    width: 250px;
    height: 180px;
    padding: 10px;
    margin-left: 15px;
    margin-bottom: 25px;
    margin-top: 10px;
}

#service-link{
    text-decoration: underline;
    color: rgb(148, 148, 148);
}

.service-details{
    color: rgb(175, 175, 175);
    padding-left: 50px;
    padding-top: 25px;
}

/* Service Details Page */

#service-details-name{
    padding-left: 30px;
    margin-left: 0px;
    margin-top: 47px;
    margin-bottom: 0px;
    border-top: solid rgb(0, 255, 225) 3px;
    border-bottom: solid rgb(0, 255, 225) 3px;
}

.button-div{
    padding-left: 15px;
    padding-bottom: 15px;
    border-bottom: solid rgb(33, 33, 33) 2px;
}
.button-spacing-serv{
    margin-right: 5px;
}

.occurence-table{
    color: rgb(175, 175, 175);
    margin-left: 30px;
    margin-top: 15px;
    
}

#x{
    margin-bottom: 20px;
}

#add-line{
    border-top: solid rgb(33, 33, 33) 2px;
}