* {
    background-color: rgb(22, 22, 22);
}

.flash-msg{
    color: azure;
}
h1, h2, h3, h4, h5{
    color: greenyellow;
}

.form-label{
    color: rgb(0, 221, 255);
}
.form-button{
    color: greenyellow;
}
.form-control{
    color: azure;
}
.vehicle-card{
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    border: solid rgb(0, 221, 255) 1px;
    color: rgb(0, 221, 255);
    background-color: rgb(0, 0, 0);
    width: 250px;
    align-items: center;
    justify-content: center;
    margin: 20px;
    text-decoration: none;
    
}

.vehicle-card-image{
    width: 200px;
}

#v-d-organizer{
    display: flex;
    align-items: center;
    align-content: center;
}

.vehicle-details{
    display: flexbox;
    padding-top: 50px;
    color: rgb(0, 221, 255);
    width:500px;
    align-items: center;
    justify-content: center;
    margin: 20px;
    text-decoration: none;
}

.vehicle-details-image{
    width: 500px;
}

#vehicle-row{
    display: flex;
    flex-direction: row;
    background-color: rgb(38, 38, 38);
}

.service-card{
    color: azure;
    border: solid white 1px;
    width: 250px;
    justify-content: center;
}
#service-link{
    text-decoration: none;
    color: azure;
}

.service-details{
    color: azure;
    padding-left: 50px;
    padding-top: 25px;
}

.occurence-table{
    color: azure;
}