<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
  <title>Login</title>
</head>
<body>
  <div class="w-50">
    <h1>Login</h1>
    <form action="{{ url_for('process_login') }}" method="POST">
      {{ login_form.csrf_token() }}
      {{ login_form.username.label(class="form-label") }} 
      {{ login_form.username(class="form-control") }}
      {{ login_form.password.label(class="form-label") }} 
      {{ login_form.password(class="form-control") }}
      {{ login_form.submit(class="btn btn-primary mt-3 form-button") }}
    </form>
  </div>
  
  <div class="w-50">
    <h1>Create An Account</h1>
    <form action="{{ url_for('new_account') }}" method="POST">
      {{ new_account_form.csrf_token() }}
      {{ new_account_form.username.label(class="form-label") }} 
      {{ new_account_form.username(class="form-control") }}
      {{ new_account_form.email.label(class="form-label") }} 
      {{ new_account_form.email(class="form-control") }}
      {{ new_account_form.password.label(class="form-label") }} 
      {{ new_account_form.password(class="form-control") }}
      {{ new_account_form.submit(class="btn btn-primary mt-3 form-button") }}
    </form>
  </div>
</body>
</html>