{% extends 'base.html' %}
{% block title %}{{service.service_name}} - {{ service.vehicle.year }} {{ service.vehicle.make }} {{ service.vehicle.model }}{% endblock %}

{% block body %}
<div class="service-details">
    <p><strong>{{ service.service_name }}</strong></p>
    <p> For: {{ service.vehicle.year }} {{ service.vehicle.make }} {{ service.vehicle.model }}  </p>
    <p>Service Interval: {{ service.service_period }} {{ service.period_units }} </p>
    <p>Since Last Service: {{ service.period_count }} {{service.period_units}} </p>
    <p>Notes: {{ service.service_notes }}</p>
</div>


<a href="/user-home/vehicles/{{service_id}}/edit">
    <button class="btn btn-primary mt-3 form-button">Edit Service</button>
</a>

<a href="/user-home/vehicles/{{service_id}}/complete">
    <button class="btn btn-primary mt-3 form-button">Vehicle Serviced</button>
</a>

<a href="/user-home/vehicles/{{service_id}}/delete">
    <button class="btn btn-primary mt-3 form-button">Delete Reoccuring Service</button>
</a>

{% endblock %}