{% extends 'base.html' %}
{% block title %}Edit Service{% endblock %}

{% block body %}
<div class="w-50">
    <h1>Edit Service</h1>
    <form action="{{ url_for('submit_edit_service', service_id = service.service_id) }}" method="POST">
        {{ edit_service.csrf_token() }}
        {{ edit_service.service_name.label(class="form-label") }} 
        {{ edit_service.service_name(class="form-control") }}
        {{ edit_service.service_period.label(class="form-label") }} 
        {{ edit_service.service_period(class="form-control") }}
        {{ edit_service.period_count.label(class="form-label") }} 
        {{ edit_service.period_count(class="form-control") }}
        {{ edit_service.service_notes.label(class="form-label") }} 
        {{ edit_service.service_notes(class="form-control") }}        
        {{ edit_service.submit(class="btn btn-primary mt-3 form-button") }}
    </form>
</div>
{% endblock %}