{% extends 'base.html' %}

{% block title %}User Home - {{current_user.username}} {% endblock %}

{% block body %}

    <h2>Your Vehicles</h2>
    <div id="vehicle-row">
    {% for vehicle in current_user.vehicles %}
    <div class="vehicle-card">
        <div class="vehicle-img-div">
            <a href="user-home/vehicles/{{vehicle.vehicle_id}}">
                <img src=" {{vehicle.vehicle_image_link}} " class="vehicle-card-image">
            </a>
        </div>
            <p id="v-c-text">Make: {{ vehicle.make }} </p>
            <p id="v-c-text">Model: {{ vehicle.model }} </p>
            <p id="v-c-text">Year: {{ vehicle.year }} </p>
            <p id="v-c-text">Use: {{vehicle.use_val}} {{vehicle.use_unit}} </p>
    </div>
        <br>
        <br>
    {% endfor %}
    <a href="/user-home/vehicles/add" class="add-vehicle-a">
        <h3> + </h3>
        <h6>Add a Vehicle</h6>
    </a>
    </div>

    <h2>Upcoming Services</h2>
    <div id="service-row">
        {% for service in user_services %}
            <div class="service-card">
                <a href="user-home/services/{{service.service_id}} " id="service-link">
                    <p id="service-link"> <strong>{{ service.service_name }}</strong> </p>
                </a>
                <p> For: {{ service.vehicle.year }} {{ service.vehicle.make }} {{ service.vehicle.model }}  </p>
                <p>Service Interval: {{ service.service_period }} {{ service.period_units }} </p>
                <p>Since Last Service: {{ service.period_count }} {{service.period_units}} </p>
                
            </div>
            <br>
            <br>
            {% endfor %}
    </div>
{% endblock %}

<button class="btn btn- mt-3 form-button"> Add a Vehicle </button>